

.cov-form{
    position: absolute;
    top: 4.9rem;
    width: 100%;
    z-index: 101;
    overflow-y: auto;
}
.close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    line-height: 18px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #888;
    color: #888;
    border-radius: 50%;
}
.form li{
    margin-top: 0.78rem;
}
.form .key{
    width: 20%;
    text-align: right;
    display: inline-block;
}
.form .value{
    width: 80%;
    display: inline-block;
    padding: 0 10px;
}
.form .value .input{
    border: 1px solid #d8d8d8;
    height: 33px;
    width: 90%;
    border-radius: 3px;
    padding: 0 10px;
}
.confirm{
    margin-left: 10px;
}

.add-employ{
    text-align: center;
}
.add-employ:before{
    content: "+";
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    color: #fff;
    background-color: #00bcf7;
    border-radius: 50%;
    text-align: center;
}

.customer-list li{
    padding: 0.78rem;
    border-bottom: 1px solid #d8d8d8;
}
.customer-content{
    display: -webkit-box;
    display: flex;
}
.cut{
    display: inline-block;
    width: 50%;
}