<!-- 评论模板 -->
<div class="comments">
	<ul>
		<li class="comment" v-for="item in items">
			<div class="user mg78">
				<img src="../Resource/Bitmap17.png" />
				<div class="user_info">
					<div class="f28">H****4</div>
					<div class="f22 sub">2016-12-12</div>
				</div>
			</div>
			<ul class="resource-scores f22 mg78">
				<li>灯光
					<score v-bind:value.sync="4"></score>
				</li>
				<li>服务
					<score v-bind:value.sync="3"></score>
				</li>
				<li>环境
					<score v-bind:value.sync="2"></score>
				</li>
			</ul>
			<div class="f24 mg78">羽毛球场馆很大,灯光,服务,环境都很好.</div>
			<div class="comment_pic">
				<div class="imgFrame">
					<img src="../Resource/Bitmap5.png" />
				</div>
				<div class="imgFrame">
					<img src="../Resource/Bitmap6.png" />
				</div>
				<div class="imgFrame">
					<img src="../Resource/Bitmap7.png" />
				</div>
				<div class="imgFrame">
					<img src="../Resource/Bitmap5.png" />
				</div>
				<div class="imgFrame">
					<img src="../Resource/Bitmap6.png" />
				</div>
			</div>
		</li>
	</ul>
	<div class="more f24">查看全部评价 </div>
</div>