<div id="publishPage" class="" style="clear: both;">
    <div class="abs-layer-cmt" style="opacity: 0; display: none; width: 100%; position: fixed; top: 0; left: 0;">
    </div>
    <div class="ui-dialog-cnt">
        <input type="text" id="title" placeholder="标题" maxlength="20" />
        <div id="type" style="display: none;">选择帖子类型</div>
        <textarea id="content" placeholder=""></textarea>
        <div id="fontcount">
            <label style="margin-right: 2rem;">
                您还可以输入<span id="textcount">140</span>个字</label>
        </div>
        <div style="clear: both;"></div>

        <div class="imgList">
            <div class="faceList">
            </div>
            <div>
                <div style="display: inline-block; margin-top: 0.5rem;">
                    <ul class="post-func-area">
                        <li class="curr"><a href="javascript:;" class="topic-btn-item active"></a></li>
                        <li class="tsf"><a href="javascript:;" class="phiz-btn"></a></li>
                        <li><a href="javascript:;" class="msg-btn"></a></li>
                    </ul>
                    <!--  <span class="topicImg show"></span>
                    <a class="face"></a>
                    <span class="addImg"></span>-->
                </div>
                <div class="btnGroup">
                    <span id="cancel">取消</span>
                    <span id="publish">发布</span>
                </div>
            </div>
        </div>

        <div class="tab" id="tab">
            <div class="select-type show" style="width: 100%; margin: 1.5rem 0.6rem 0.5rem 1.7rem;">
                <!--<div class="ch-type">家居生活</div>-->
            </div>

            <div class="select-face" id="select-face" style="padding: 1.5rem 1.7rem 0.5rem 1.7rem;">
            </div>

            <div class="upimg select-upimg" style="display: none;">
                <div id="viewimg" style="margin-top: 1.0rem;">
                    <!--上传吐槽图片-->
                    <!-- <div class="control-upimg">
                        <img src="/Upload/ForumImg/93kufZBOLg5FyHlS6zh0vawosYBhjBtd4SaumNE8lqed7U1CUxWJNdoc_WhApvu2.png" alt="" attr-sid="123" class="upimg wximg" />
                        <img src="../shop/common/img/ico_cancel.png" alt="" class="delimg" />
                    </div>
                    <div class="control-upimg">
                        <img src="/Upload/ForumImg/93kufZBOLg5FyHlS6zh0vawosYBhjBtd4SaumNE8lqed7U1CUxWJNdoc_WhApvu2.png" alt="" attr-sid="456" class="upimg wximg" />
                        <img src="../shop/common/img/ico_cancel.png" alt="" class="delimg" />
                    </div>-->
                    <!--/上传吐槽图片-->
                </div>
                <div class="up-entry">
                </div>
            </div>

        </div>
    </div>
</div>