
.cover{
    width: 100%;
    opacity: .7;
    height: 100%;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 100;
}
.cov-control{
    position: absolute;
    bottom: 4.9rem;
    top: 200px;
    width: 100%;
    z-index: 101;
    overflow-y: auto;
}
.cov-footer{
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 101;
}
.cov-view{
    width: 90%;
    margin: 0 auto;
    padding-top: 8px;
}
.btn-view{
    width: 80%;
    margin: 0 auto;
    margin-top: 0.78rem;
}
.close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    line-height: 18px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #888;
    color: #888;
    border-radius: 50%;
}
.desc{
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}
.dis{
    width: 30%;
    font-size: 1.2rem;
}
.class_info{
    border: 1px solid #00bcf7;
    border-top: 0;
    margin-top: -2px;
    padding: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}
.class_info .info_title{
    float: left;
    font-size: 1.4rem;
}
.class_info .info_model, .class_info .info_date{
    float: right;
}
.class_info .info_model{
    border: 1px solid #FFB500;
    border-radius: 0.2rem;
    color: #FFB500;
}
.class_info .info_date{
    margin-left: 10px;
}
.class_info .info_detail{
    color: #888889;
    clear: left;
}
.class_info .info_coach{
    color: #FFB500;
}
.class_info .info_regi{
    color: #FFB500;
    font-size: 1.2rem;
}