
.cover{
    width: 100%;
    opacity: .7;
    height: 100%;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 100;
}
.cov-control{
    position: absolute;
    bottom: 4.9rem;
    top: 200px;
    width: 100%;
    z-index: 101;
    overflow-y: auto;
}
.cov-footer{
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 101;
}
.cov-view{
    width: 90%;
    margin: 0 auto;
    padding-top: 8px;
}
.btn-view{
    width: 80%;
    margin: 0 auto;
    margin-top: 0.78rem;
}
.close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    line-height: 18px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #888;
    color: #888;
    border-radius: 50%;
}