
.banner{
	height: 6.7rem;
	line-height: 6.7rem;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border: 1px solid #888;
	background: url('../resource/searchpic.png') no-repeat;
	z-index: 100;
}
.banner .text{
	width: 78%;
	height: 3.8rem;
	line-height: 3.8rem;
	border-radius: 1.9rem;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto;
	padding: 0 1.45rem;
}
.banner .text .input{
	border-width: 0;
}
.banner .text .btn{
	font-size: 2.3rem;
	position: absolute;
	right: 1.1rem;
	top: 1rem;
}
.banner .pos{
	width: 20%;
	height: 3.8rem;
	line-height: 3.8rem;
	color: rgba(255,255,255,0.8);
}
.banner .pos i{
	font-size: 2.3rem;
}
.banner .pos .add{
	height: 100%;
	color: rgba(255,255,255,0.8);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.banner .pos .add:before{
	font-size: 2.3rem;
	margin-bottom: 3px;
}