/*支付*/
.payment{
	position: relative;
	overflow-y: auto;
}
.payment .right .direct::after{
	content: " ";
	display: inline-block;
	height: .8rem;
	width: .8rem;
	border-left: 1px solid;
	border-top: 1px solid;
	transform: rotate(135deg);
}
/*页尾*/
.footer{
	height: 5.8rem;
	line-height: 5.8rem;
	border-top: 1px solid #d8d8d8;
	background-color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	margin-top: 1.16rem;
}
.footer a{
	display: inline-block;
}
.footer .price{
	display: inline-block;
	width: 60%;
}
.footer .next{
	width: 38%;
	text-align: center;
	background-color: #00bcf7;
	height: 100%;
	color: #fff;
	position: absolute;
	right: 0;
    cursor: pointer;
}
.footer .total{
	padding-left: 1.16rem;
}