/*index.css*/
.score{
	display: inline-block;
	line-height: 2rem;
	height: 2rem;
	overflow: hidden;
	vertical-align: middle;
}
.score a{
	display: inline-block;
}
.score .icon-smile{
	margin-left: -13px;
}
.score .icon-smile:first-of-type{
	margin-left: -5px;
}
.score .icon-smile:last-of-type{
	margin-right: 5px;
}
.score.score-1 .i-score-1{
	color: #6cd9fd;
}
.score.score-2 .i-score-1,.score.score-2 .i-score-2{
	color: #6cd9fd;
}
.score.score-3 .i-score-1,.score.score-3 .i-score-2,.score.score-3 .i-score-3{
	color: #6cd9fd;
}
.score.score-4 .i-score-1,.score.score-4 .i-score-2,.score.score-4 .i-score-3,.score.score-4 .i-score-4{
	color: #6cd9fd;
}
.score.score-5 a{
	color: #6cd9fd;
}